<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestRail Automation" verbose="1">

    <test name="UI Tests">
        <groups>
            <run>
                <include name="ui"/>
            </run>
        </groups>
        <packages>
            <package name="tests.ui"/>
        </packages>
    </test>

</suite>